.payment__table-item {
  max-width: 782px;
  width: 100%;
}
.payment__table-item-inner {
  display: flex;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 26px;
  background: #fbfbfb;
  align-items: center;
  justify-content: space-between;
}
.payment__table-item-inner-box {
  display: flex;
  align-items: center;
}
.payment-table__inner-box-table {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.payment__table-item-inner-box-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 16px;
}
.payment__table-item-inner-box-content-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
}
.payment__table-item-inner-box-content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #a5a5a5;
}
.payment__table-item-inner-box-content-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #727272;
}
.payment__table-item-inner-box-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #727272;
}
.payment__table-item-inner-box-heading2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #46a358;
}
@media only screen and (max-width: 1140px) {
  .payment__table-item {
    max-width: 100%;
    width: 100%;
  }
}
